Data/*
DataRaw/*

/Paper/SDS383D SP 17 Writeup/*

_newproject.R
.Rproj.user

Reference/Textbooks | West and Harrison_Bayesian Forecasting and Dynamic Models.pdf
Reference/textbooks | Dynamic_Linear_Models_with_R.pdf